<div class="container-fluid">
  <div class="row h-100">
    <div class="col-2">
      <mat-list class="w-100 vh-100 border-end">
        <mat-list-item><a class="link-underline-light" routerLink="alta-remito" routerLinkActive="">Cargar remito</a></mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item><a class="link-underline-light" routerLink="stock" routerLinkActive="">Consultar stock</a></mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-10">
      <router-outlet class="w-100 h-100 p-0"></router-outlet>
    </div>
  </div>
</div>
