<div class="container-fluid">
  <div class="row h-100">
    <div class="col-2">
      <mat-list class="w-100 vh-100 border-end">
        <mat-list-item>
          <a class="icon-link link-underline-light" routerLink="alta-remito" routerLinkActive="link-underline-info"> <mat-icon class="mat-18">fact_check</mat-icon>
            Cargar remito
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a class="icon-link link-underline-light" routerLink="productos" routerLinkActive="link-underline-info"> <mat-icon class="mat-18">inventory_2</mat-icon>
            Productos
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
          <a class="icon-link link-underline-light" routerLink="proveedores" routerLinkActive="link-underline-info"> <mat-icon class="mat-18">add_business</mat-icon>
            Proveedores
          </a>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
    <div class="col-10">
      <router-outlet class="w-100 h-100 p-0"></router-outlet>
    </div>
  </div>
</div>
