<p class="fs-5 p-4 border-bottom">Stock</p>
<div class="container-fluid">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Precio</th>
        <th scope="col">Proveedor</th>
        <th scope="col">Fecha</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of remitos$ | async">
        <td> Value</td>
        <td> Value </td>
        <td>Value</td>
        <td>Value</td>
        <td>Value</td>
      </tr>
    </tbody>
  </table>
</div>
